a{
    text-decoration: none;
}

body {
    background-color: black;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overscroll-behavior: none
}

#main_container {
    background-image: url(../img/bg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    max-width: 1424px;
    margin: auto;
    position: relative;
}

#bottom_navigator {
    background-color: rgb(255, 255, 255);
    width: auto;
    height: 9%;
    align-self: end;
    border-radius: 20px;
    backdrop-filter: blur(16px);
    position: absolute;
    bottom: 2%;
    left: 3%;
    right: 3%;
    transition: height cubic-bezier(0, 0, 0, 0.99) 0.3s;
    display: block;
    overflow: hidden;
}

#selected_filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 14px;
    flex-wrap: nowrap;
    height:100%;
    position: relative;
    z-index: 99;
}
.expanded_bottom_content {
    margin-top:3%;
}

#content_brawser {
    height: 73%;
    max-height: 73%;
    min-height: 6%;
    background: linear-gradient(0deg, rgba(242,242,242,1) 27%, rgba(242,242,242,0) 100%);
    backdrop-filter: blur(16px);
    border-radius: 20px 20px 0px 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    bottom: calc(11% - 20px);
    width: auto;
    left: 3%;
    right: 3%;
}

container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    padding: 15px;
    display: flex;
}
#touchSupport {
    display: flex;
    width: 100%;
    height: 27px;
    flex: 0 0 auto;
}
close-notch {
    background: #ff7300;
    width: 25%;
    height: 6px;
    border-radius: 50px;
    margin: auto;
    margin-top: 9px;
}

.button {
    width: fit-content;
    height: fit-content;
    background: #ff7300;
    padding: 9px;
    border-radius: 14px;
    text-align: center;
    font-weight: 500;
    color: white;
}

.button_expand {
    background-color:white; 
    font-size: 22px; 
    margin-right: 3%; 
    height: calc(74% - 18px);
    display: flex; 
    align-items: center; 
    justify-content: center;
}

#lista {
    width: 100%;
    height: 96%;
    overflow-y: scroll;
}

.l-elem {
    margin: 12px;
    padding: 19px;
    border-bottom: 1px solid #95765c;
    display: flex;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#spell_types_list {
    list-style: none;
    margin-top: 0px;
    padding-left: 5%;
    height: 64%;
    overflow: scroll;
    scrollbar-width: none;
    scrollbar-color: white;
    scroll-snap-type: y mandatory;
}

#spell_types_list > section {
    font-size: 22px;
    margin-bottom: 15px;  
    scroll-snap-align: start;
    color:#a1a1a1;
    display:flex;
    scrollbar-width: none;
}

 #levelFilter {
    color: black;
    overflow-x: scroll; overflow-y: hidden;
    width: 19%;
    white-space: nowrap;
    justify-content: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 22px;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    font-size: 25px;
 }

#levelFilter section {scroll-snap-align: center;}

#selectedLevel{font-size: 32px;}

.active,.active_ {
    /*font-weight: 640;*/
    color:black !important
}

.visible {color:#a1a1a1 !important}

.spell_types_level {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 29px;
    gap: 29px;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    color: white
}

.spell_types_level section {
    scroll-snap-align: start;
    margin-bottom: 0px !important;
}

#spell_container {
    width: 100%;
    height: calc(90% - 20px);
    overflow-y: scroll;
}

#level {
    float: right;
    font-size: 32px;
    margin-top: 1%;
    margin-right: 8%;
    width: 44px;
    text-align: center;
    background: #ff7300;
    border-radius: 12px;
    color: white;
    margin-left: 10px;
}

#components {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 5%;
    gap:5px;
}

#components div {
    background: #ff7300;
    padding: 2px 6px;
    border-radius: 8px;
    color: white;
}

#material {
    padding: 3px 10px;
    background: #ff7300;
    margin: 6px 5%;
    border-radius: 8px;
    color: white;
}

.hidden {
    display: none !important;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    border: 2px solid #ffffff00;
}

::-webkit-scrollbar-track {
    border-radius: 10px;  
    background-color: #ffffff00; 
}

#l3 {
    width: 27px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,#ff7300 90%,#0000);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {
      20%{background-position:0%   0%, 50%  50%,100%  50%}
      40%{background-position:0% 100%, 50%   0%,100%  50%}
      60%{background-position:0%  50%, 50% 100%,100%   0%}
      80%{background-position:0%  50%, 50%  50%,100% 100%}
  }

#loading_list {
  right: 0;
  position: absolute;
  width: 14%;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loading_spell {
    width: 104%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loading_spell #l3 {
    width: 35px;
}

#class_selector {
    position: absolute;
    bottom: 13%;
    width: 100%;
    height: 68%;
}

#class_list {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-content: center;
    overflow-x: scroll;
    gap: 3%;
    height: 100%;
    scroll-snap-type: x mandatory;
}

#class_list section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 12px;
    flex: 0 0 auto;
    width: 100%;
    height: 71%;
    border-radius: 20px;
    justify-content: center;
    font-size: 29px;
    scroll-snap-align: start;
    margin-left: 3%;
    margin-right: 3%;
}

#class_list section div img {
    position: absolute
}

className {
    position: absolute; 
    top: 25%; 
    left: 12%; 
    font-family: Ubuntu;
    font-weight: bold;
}

#class_list div {
    width: 94%;
    height: 100%;
    background: white;
    margin: 3%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

#loading_failed {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}